<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="/">
    <link rel="stylesheet" href="css/main.css">
    <title>NixApp | Home</title>
</head>
<body>
    
    <header>
        <h1 class="logo">Umbra-App</h1>
        <nav>
            <ul class="nav__links">
                <li><a class="selected" href="">Home</a></li>
                <li><a href="/inventario">Inventário</a></li>
                <li><a href="/sobre">Sobre</a></li>
            </ul>
        </nav>
    </header>

    <div id="vida-edit" class="edit-box">
        <p onclick="ShowEditStats(0, 0)">X</p>
        <h1>Vida</h1>
        <label>Vida Atual: </label><input type="number" id="edit-vida-value" placeholder="Valor" autocomplete="off">
        <label>Vida Maxima: </label><input type="number" id="edit-vida-max-value" placeholder="Valor" autocomplete="off">
        <button onclick="EditStat(0)">Aplicar</button>
    </div>
    <div id="umbra-edit" class="edit-box">
        <p onclick="ShowEditStats(1, 0)">X</p>
        <h1>Umbra</h1>
        <label>Umbra Atual: </label><input type="number" id="edit-umbra-value" placeholder="Valor" autocomplete="off">
        <button onclick="EditStat(1)">Aplicar</button>
    </div>
    <div id="name-edit" class="edit-box">
        <p onclick="ShowEditStats(2, 0)">X</p>
        <h1>Nome do Char</h1>
        <label>Nome Atual: </label><input type="text" id="edit-name-value" placeholder="Nome" autocomplete="off">
        <button onclick="EditStat(2)">Aplicar</button>
    </div>

    <div class="user-info">
        <h1 class="name-show" id="player-username" onclick="ShowEditStats(2, 1)"></h1>
        <img id="icon-image" src="">
        <h1 onclick="ShowEditStats(0, 1)" class="show-stats" id="vida">Vida: </h1>
        <h1 onclick="ShowEditStats(1, 1)" class="blue-text show-stats" id="umbra">Umbra: </h1>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="js/main.js"></script>
    <script src="js/home.js"></script>
</body>
</html>